body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:307px;
  width:50px;
  height:80px;
}
#u8392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u8393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8393 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:317px;
  width:100px;
  height:60px;
}
#u8394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8395 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:317px;
  width:100px;
  height:60px;
}
#u8396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8397 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:347px;
  width:0px;
  height:0px;
}
#u8397_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u8397_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8398 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8399 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:347px;
  width:0px;
  height:0px;
}
#u8399_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u8399_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8400 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8401 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:235px;
  width:100px;
  height:60px;
}
#u8402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8403 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:393px;
  width:100px;
  height:60px;
}
#u8404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8405 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:317px;
  width:0px;
  height:0px;
}
#u8405_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:8px;
  height:56px;
}
#u8405_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:138px;
  height:8px;
}
#u8405_seg2 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-62px;
  width:20px;
  height:20px;
}
#u8406 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
}
#u8407 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:377px;
  width:0px;
  height:0px;
}
#u8407_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u8407_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:42px;
  width:312px;
  height:8px;
}
#u8407_seg2 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:36px;
  width:20px;
  height:20px;
}
#u8408 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u8409 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:453px;
  width:0px;
  height:0px;
}
#u8409_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u8409_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:45px;
}
#u8409_seg2 {
  border-width:0px;
  position:absolute;
  left:-673px;
  top:38px;
  width:677px;
  height:8px;
}
#u8409_seg3 {
  border-width:0px;
  position:absolute;
  left:-673px;
  top:-66px;
  width:8px;
  height:112px;
}
#u8409_seg4 {
  border-width:0px;
  position:absolute;
  left:-679px;
  top:-71px;
  width:20px;
  height:20px;
}
#u8410 {
  border-width:0px;
  position:absolute;
  left:-418px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u8411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8411 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:235px;
  width:100px;
  height:60px;
}
#u8412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8413 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:265px;
  width:0px;
  height:0px;
}
#u8413_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u8413_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8414 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u8415 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:581px;
  width:50px;
  height:80px;
}
#u8416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u8417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8417 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:591px;
  width:100px;
  height:60px;
}
#u8418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8419 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:591px;
  width:100px;
  height:60px;
}
#u8420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8421 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:591px;
  width:100px;
  height:60px;
}
#u8422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8423 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:621px;
  width:0px;
  height:0px;
}
#u8423_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u8423_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8424 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8425 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:621px;
  width:0px;
  height:0px;
}
#u8425_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u8425_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8426 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8427 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:621px;
  width:0px;
  height:0px;
}
#u8427_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:262px;
  height:8px;
}
#u8427_seg1 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8428 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8429 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:591px;
  width:0px;
  height:0px;
}
#u8429_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:48px;
}
#u8429_seg1 {
  border-width:0px;
  position:absolute;
  left:-315px;
  top:-48px;
  width:319px;
  height:8px;
}
#u8429_seg2 {
  border-width:0px;
  position:absolute;
  left:-315px;
  top:-48px;
  width:8px;
  height:38px;
}
#u8429_seg3 {
  border-width:0px;
  position:absolute;
  left:-321px;
  top:-25px;
  width:20px;
  height:20px;
}
#u8430 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-52px;
  width:100px;
  word-wrap:break-word;
}
#u8431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u8431 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:734px;
  width:50px;
  height:80px;
}
#u8432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u8433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8433 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:744px;
  width:100px;
  height:60px;
}
#u8434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8435 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:774px;
  width:0px;
  height:0px;
}
#u8435_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u8435_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8436 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8437 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:744px;
  width:100px;
  height:60px;
}
#u8438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8439 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:693px;
  width:100px;
  height:60px;
}
#u8440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8441 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:800px;
  width:100px;
  height:60px;
}
#u8442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8443 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:744px;
  width:0px;
  height:0px;
}
#u8443_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-25px;
  width:8px;
  height:25px;
}
#u8443_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-25px;
  width:312px;
  height:8px;
}
#u8443_seg2 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-31px;
  width:20px;
  height:20px;
}
#u8444 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-29px;
  width:100px;
  word-wrap:break-word;
}
#u8445 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:804px;
  width:0px;
  height:0px;
}
#u8445_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u8445_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:312px;
  height:8px;
}
#u8445_seg2 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:16px;
  width:20px;
  height:20px;
}
#u8446 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u8447 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:774px;
  width:0px;
  height:0px;
}
#u8447_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u8447_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8448 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
