body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:307px;
  width:50px;
  height:80px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:317px;
  width:100px;
  height:60px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:347px;
  width:0px;
  height:0px;
}
#u353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u353_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:347px;
  width:0px;
  height:0px;
}
#u355_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u355_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:57px;
}
#u355_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:45px;
  width:18px;
  height:8px;
}
#u355_seg3 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:39px;
  width:20px;
  height:20px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:366px;
  width:100px;
  height:60px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:396px;
  width:0px;
  height:0px;
}
#u359_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u359_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-53px;
  width:8px;
  height:57px;
}
#u359_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-53px;
  width:21px;
  height:8px;
}
#u359_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-59px;
  width:20px;
  height:20px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:271px;
  width:100px;
  height:60px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:347px;
  width:0px;
  height:0px;
}
#u363_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u363_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-50px;
  width:8px;
  height:54px;
}
#u363_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-50px;
  width:19px;
  height:8px;
}
#u363_seg3 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-56px;
  width:20px;
  height:20px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:317px;
  width:100px;
  height:60px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:317px;
  width:100px;
  height:60px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:155px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:269px;
  width:100px;
  height:155px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:301px;
  width:0px;
  height:0px;
}
#u371_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u371_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:54px;
}
#u371_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:42px;
  width:21px;
  height:8px;
}
#u371_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:36px;
  width:20px;
  height:20px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:347px;
  width:0px;
  height:0px;
}
#u373_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u373_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:214px;
  width:100px;
  height:60px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:317px;
  width:0px;
  height:0px;
}
#u377_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-77px;
  width:8px;
  height:77px;
}
#u377_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-77px;
  width:117px;
  height:8px;
}
#u377_seg2 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-83px;
  width:20px;
  height:20px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-81px;
  width:100px;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:214px;
  width:0px;
  height:0px;
}
#u379_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u379_seg1 {
  border-width:0px;
  position:absolute;
  left:-630px;
  top:-18px;
  width:634px;
  height:8px;
}
#u379_seg2 {
  border-width:0px;
  position:absolute;
  left:-630px;
  top:-18px;
  width:8px;
  height:111px;
}
#u379_seg3 {
  border-width:0px;
  position:absolute;
  left:-636px;
  top:78px;
  width:20px;
  height:20px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:-410px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:347px;
  width:0px;
  height:0px;
}
#u381_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u381_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
