body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:307px;
  width:50px;
  height:80px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:317px;
  width:100px;
  height:60px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:347px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-10px;
  width:20px;
  height:20px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:231px;
  width:100px;
  height:60px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:347px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-90px;
  width:8px;
  height:94px;
}
#u249_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-90px;
  width:21px;
  height:8px;
}
#u249_seg3 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-96px;
  width:20px;
  height:20px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:317px;
  width:100px;
  height:60px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:347px;
  width:0px;
  height:0px;
}
#u253_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u253_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:404px;
  width:100px;
  height:60px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:347px;
  width:0px;
  height:0px;
}
#u257_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u257_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:95px;
}
#u257_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:83px;
  width:21px;
  height:8px;
}
#u257_seg3 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:77px;
  width:20px;
  height:20px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:317px;
  width:100px;
  height:60px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:261px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u261_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-4px;
  width:8px;
  height:94px;
}
#u261_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:82px;
  width:17px;
  height:8px;
}
#u261_seg3 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:76px;
  width:20px;
  height:20px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:347px;
  width:0px;
  height:0px;
}
#u263_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:30px;
  height:8px;
}
#u263_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:317px;
  width:100px;
  height:60px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:231px;
  width:100px;
  height:60px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:347px;
  width:0px;
  height:0px;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-90px;
  width:8px;
  height:94px;
}
#u269_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-90px;
  width:43px;
  height:8px;
}
#u269_seg3 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-96px;
  width:20px;
  height:20px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:347px;
  width:0px;
  height:0px;
}
#u271_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u271_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:434px;
  width:0px;
  height:0px;
}
#u273_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u273_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-91px;
  width:8px;
  height:95px;
}
#u273_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-91px;
  width:17px;
  height:8px;
}
#u273_seg3 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-97px;
  width:20px;
  height:20px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:317px;
  width:100px;
  height:60px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:347px;
  width:0px;
  height:0px;
}
#u277_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u277_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:404px;
  width:100px;
  height:60px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:347px;
  width:0px;
  height:0px;
}
#u281_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u281_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:95px;
}
#u281_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:83px;
  width:42px;
  height:8px;
}
#u281_seg3 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:77px;
  width:20px;
  height:20px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:317px;
  width:100px;
  height:60px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:261px;
  width:0px;
  height:0px;
}
#u285_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u285_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:94px;
}
#u285_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:82px;
  width:39px;
  height:8px;
}
#u285_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:76px;
  width:20px;
  height:20px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:347px;
  width:0px;
  height:0px;
}
#u287_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u287_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:434px;
  width:0px;
  height:0px;
}
#u289_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u289_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-91px;
  width:8px;
  height:95px;
}
#u289_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-91px;
  width:37px;
  height:8px;
}
#u289_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-97px;
  width:20px;
  height:20px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
